---
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import type { Link } from "@/.storyblok/types/285719928053161/storyblok-components";

interface Props {
  blok: Link;
}

const { blok } = Astro.props;

const variant = blok.variant || "primary";
const size = blok.size || "md";

const buttonClasses = [
  "btn",
  variant ? `btn-${variant}` : "",
  size && size !== "md" ? `btn-${size}` : "",
]
  .filter(Boolean)
  .join(" ");

const href =
  blok.url.linktype === "email" ? `mailto:${blok.url.url}` : blok.url.url;

const target =
  blok.url.target || (blok.url.linktype === "email" ? "_self" : "_blank");
const rel = target === "_blank" ? "noopener noreferrer" : undefined;
---

<a
  {...storyblokEditable(blok as SbBlokData)}
  href={href}
  target={target}
  rel={rel}
  class={buttonClasses}
>
  {blok.text}
</a>
