---
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();

const { blok } = Astro.props;

const { data: socialMediaData } = await storyblokApi.get(
  "cdn/stories/global/social-media",
  {
    version: import.meta.env.DEV ? "draft" : "published",
  },
);

const socialMedia = socialMediaData.story.content;
const socialMediaLinks = socialMedia.body[0].links;

const sitemapLinks = [
  { text: "Home", href: "/" },
  { text: "About", href: "/about" },
  { text: "Blog", href: "/blog" },
  { text: "Projekt Starten", href: "/projekt-starten" },
];
---

<footer
  {...storyblokEditable(blok as SbBlokData)}
  class="bg-base-200 text-base-content p-10"
>
  <div class="footer sm:footer-horizontal mx-auto max-w-3xl">
    <nav>
      <h2 class="footer-title">Sitemap</h2>
      {
        sitemapLinks.map((link) => (
          <a href={link.href} class="link link-hover lg:text-base">
            {link.text}
          </a>
        ))
      }
    </nav>
    <nav>
      <h2 class="footer-title">Legal</h2>
      {blok.legalLinks?.map((link: any) => <StoryblokComponent blok={link} />)}
    </nav>
    <nav>
      <h2 class="footer-title">Social</h2>
      {
        socialMediaLinks?.map((link: any) => (
          <a
            href={
              link.url.linktype === "email"
                ? `mailto:${link.url.url}`
                : link.url.url
            }
            target={link.url.linktype === "email" ? "_self" : "_blank"}
            rel="noopener noreferrer"
            class="link link-hover lg:text-base"
          >
            {link.text}
          </a>
        ))
      }
    </nav>
  </div>
</footer>
