---
import "../styles.css";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

interface Props {
  seoPage: {
    title: string;
    description: string;
  };
}

const storyblokApi = useStoryblokApi();

const { data: seoData } = await storyblokApi.get("cdn/stories/global/seo", {
  version: import.meta.env.DEV ? "draft" : "published",
});

const { data: headerData } = await storyblokApi.get(
  "cdn/stories/global/header",
  {
    version: import.meta.env.DEV ? "draft" : "published",
  },
);

const canonicalUrl = Astro.url.origin + Astro.url.pathname;
const seo = seoData.story.content;
const header = headerData.story.content;

const { seoPage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{seoPage.title} | {seo.siteName}</title>
    <meta name="description" content={seoPage.description} />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="og:title" content={`${seoPage.title} | ${seo.siteName}`} />
    <meta property="og:description" content={seoPage.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:site_name" content={seo.siteName} />
    <meta property="og:image" content={seo.ogImage.filename} />
    <meta name="twitter:title" content={`${seoPage.title} | ${seo.siteName}`} />
    <meta name="twitter:description" content={seoPage.description} />
    <meta name="twitter:image" content={seo.ogImage.filename} />
    <link rel="preconnect" href="https://app.storyblok.com" />
    <link
      rel="preload"
      href="/fonts/subset-Hind-SemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/subset-Hind-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/subset-Hind-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/subset-Cardo-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/subset-Cardo-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body>
    <StoryblokComponent blok={header} />
    <main class="bg-gallery min-h-screen">
      <slot />
    </main>
  </body>
</html>
